In [15]:
import pandas as pd
import numpy as np

In [16]:
train=pd.read_csv('casual.csv')
train1=pd.read_csv('registered.csv')

In [17]:
train['count']=train['casual']+train1['registered']

In [18]:
train['count']=['0' if x<0 else x for x in train['count']]

In [19]:
del train['casual']

In [20]:
train

                 datetime    count
0     2011-01-20 00:00:00  11.7729
1     2011-01-20 01:00:00        0
2     2011-01-20 02:00:00        0
3     2011-01-20 03:00:00        0
4     2011-01-20 04:00:00        0
5     2011-01-20 05:00:00  14.7459
6     2011-01-20 06:00:00  58.7918
7     2011-01-20 07:00:00  135.809
8     2011-01-20 08:00:00  288.696
9     2011-01-20 09:00:00  127.954
10    2011-01-20 10:00:00  41.1918
11    2011-01-20 11:00:00  29.3997
12    2011-01-20 12:00:00  73.2126
13    2011-01-20 13:00:00  52.1346
14    2011-01-20 14:00:00  41.6412
15    2011-01-20 15:00:00   56.499
16    2011-01-20 16:00:00  86.2542
17    2011-01-20 17:00:00   226.77
18    2011-01-20 18:00:00  189.401
19    2011-01-20 19:00:00  106.908
20    2011-01-20 20:00:00  82.6007
21    2011-01-20 21:00:00  68.2349
22    2011-01-20 22:00:00  39.5956
23    2011-01-20 23:00:00   22.037
24    2011-01-21 00:00:00  11.8513
25    2011-01-21 01:00:00  2.34893
26    2011-01-21 02:00:00  8.19788
27    2011-01-21 03:00:00  16.3141
28    2011-01-21 04:00:00        0
29    2011-01-21 05:00:00        0
...                   ...      ...
6463  2012-12-30 18:00:00  141.286
6464  2012-12-30 19:00:00  175.225
6465  2012-12-30 20:00:00  62.6041
6466  2012-12-30 21:00:00  65.5151
6467  2012-12-30 22:00:00  51.1762
6468  2012-12-30 23:00:00  23.8479
6469  2012-12-31 00:00:00   7.8467
6470  2012-12-31 01:00:00        0
6471  2012-12-31 02:00:00        0
6472  2012-12-31 03:00:00        0
6473  2012-12-31 04:00:00        0
6474  2012-12-31 05:00:00  11.8598
6475  2012-12-31 06:00:00  66.6484
6476  2012-12-31 07:00:00  238.986
6477  2012-12-31 08:00:00  417.868
6478  2012-12-31 09:00:00  237.869
6479  2012-12-31 10:00:00  85.0108
6480  2012-12-31 11:00:00  96.2548
6481  2012-12-31 12:00:00  125.409
6482  2012-12-31 13:00:00  138.717
6483  2012-12-31 14:00:00  113.839
6484  2012-12-31 15:00:00  133.947
6485  2012-12-31 16:00:00  186.342
6486  2012-12-31 17:00:00  403.062
6487  2012-12-31 18:00:00  358.063
6488  2012-12-31 19:00:00  242.709
6489  2012-12-31 20:00:00  155.933
6490  2012-12-31 21:00:00  128.503
6491  2012-12-31 22:00:00    96.15
6492  2012-12-31 23:00:00  56.6176

[6493 rows x 2 columns]

In [21]:
train.to_csv('count.csv',index=False)